/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (min-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .de_count h3 {
        font-size: 54px;
        letter-spacing: .1px;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        line-height: 1em;
    }

    h1.ultra-big,
    h1.ultra-big .text-line {
        display: inline-block;
        font-size: 80px;
        line-height: 1em;
        margin-bottom: 0;
    }

    .de-pricing-s1 .d-content {
        padding: 20px 15px;
    }

    .de-pricing-s1 .d-content {
        position: relative;
        width: 100%;
        height: 500px;
        height: 100%;
        /* padding: 20px; */
        z-index: 5;
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .d-service-1 {
        display: none !important;
    }
}

/* # Mobile */
@media only screen and (max-width: 480px) {

    h1.ultra-big,
    h1.ultra-big .text-line {
        display: inline-block;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 0;
    }

}

@media (max-width: 395px) {
    a.btn-line {
        display: none;
    }
}


@media (max-width: 420px) {
    h1.ultra-big.text-uppercase.mb-4.wow.fadeInRight.animated {
        display: inline-block;
        font-size: 30px;
        line-height: 100%;
        margin-bottom: 0;
    }

    h5.mb-4.s2 {
        display: flex;
        flex-direction: column;
    }

    section#section-location {
        padding-top: 0px;
    }
}